/* ProjectView.css */

/* Container for the entire project view */
.project-container {
    background-color: #d3d3d3; /* Medium grey background */
    color: #666; /* Dark grey text */
    width: 768px; /* Consistent width */
    margin: 50px auto; /* Center the container */
    padding: 20px; /* Padding for the container */
    box-sizing: border-box;
}

/* Style for the main title */
.project-container > h1 {
    color: #30A875; /* Green color for main heading */
    margin-bottom: 20px; /* Space after the main title */
}

.project-details-container {
    padding: 10px;
}

/* Style for each project */
.project {
    background-color: #fff; /* White background for each project */
    border: 1px solid #ccc; /* Border for each project */
    padding: 15px; /* Padding inside each project */
    margin-bottom: 15px; /* Space between projects */
}

/* Style for project titles */
h2 {
    color: #30A875; /* Green color for project titles */
    font-weight: bolder;
    margin-bottom: 10px; /* Space after the project title */
    font-size: 130%;
}

h3 {
    color: #30A875; /* Green color for project titles */
    font-weight: bold;
    margin-bottom: 10px; /* Space after the project title */
    font-size: 110%;
    font-style: italic;
}

/* Style for project descriptions */
.project > p {
    margin-bottom: 10px; /* Space after the project description */
}

.project-back {
    background-color: #30A875; /* Green color for the back link */
    color: white; /* White text for the back link */
    text-decoration: none; /* Remove link underlines */
    margin-right: 20px; /* Space after the back link */
    float: right;
    display: flex;
    padding: 6px;
}

/* Style for the 'View Details' button */
.project > button {
    background-color: #30A875; /* Green background for consistency */
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    display: inline-block; /* So it doesn't take the full width */
    margin-bottom: 10px; /* Space after the button */
}

/* ProjectView.css */

  
  .toggle-form-button {
    background-color: #30A875; /* Green background */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 5px; /* Spacing before form or list */
  }
  
  .form-container {
    display: none; /* Initially hide the form */
    /* Other styles */
  }
  
  /* When form is visible */
  .form-container.visible {
    display: block; /* Show the form */
  }
  

  .save-status {
    color: red; /* Consistent color for messages */
    font-weight: bold;
    margin-left: 10px;
  }
  
/* Form for creating a new project */
.form-container, .form-survey {
    margin-top: 40px; /* Space before the form */
}

.form-container > h2 {
    color: #30A875; /* Green color for form heading */
    margin-bottom: 20px; /* Space after the form title */
}

.form-container label {
    display: block; /* Ensure the label goes on a new line */
    margin-bottom: 5px; /* Small space between label and input */
    font-weight: bold; /* Make labels bold for clarity */
}

.form-container input[type="text"],
.form-container textarea {
    width: 95%; /* Make input take full width of form - accounting for padding */
    padding: 10px;
    margin-bottom: 15px; /* Space between each form field */
    border: 1px solid #ccc;
}

/* Style specifically for text area to input descriptions */
.form-container textarea {
    height: 100px; /* Default height for the textarea */
    resize: vertical; /* Allow only vertical resizing */
}

/* Submit button for creating a new project */
.form-container button {
    background-color: #30A875; /* Green background like other buttons */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding for button */
    border: none; /* No border */
    cursor: pointer; /* Cursor pointer */
    display: block; /* Make the button a block to fill width if needed */
    width: 100%; /* Full width */
    margin-top: 10px; /* Space from the last input field */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .project-container,
    .form-container input[type="text"],
    .form-container textarea {
        width: 95%; /* Make container and input fields slightly narrower on smaller screens */
    }
}

/* Add any additional styles for hover, focus, or active states as desired */
.project > button:hover,
.form-container button:hover {
    background-color: #26724d; /* Slightly darker green on hover */
}

/* Survey form */
.survey-container {
    margin-top: 40px; /* Space before the form */
}

.survey-container > h2 {
    color: #30A875; /* Green color for form heading */
    margin-bottom: 20px; /* Space after the form title */
}

.survey-container label {
    display: block; /* Ensure the label goes on a new line */
    margin-bottom: 5px; /* Small space between label and input */
    font-weight: bold; /* Make labels bold for clarity */
}

.survey-container input[type="text"],
.survey-container textarea {
    width: 95%; /* Make input take full width of form - accounting for padding */
    padding: 10px;
    margin-bottom: 15px; /* Space between each form field */
    border: 1px solid #ccc;
}

/* Style specifically for text area to input descriptions */
.survey-container textarea {
    height: 100px; /* Default height for the textarea */
    resize: vertical; /* Allow only vertical resizing */
}

/* Submit button for submitting the survey */
.survey-container button {
    background-color: #30A875; /* Green background like other buttons */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding for button */
    border: none; /* No border */
    cursor: pointer; /* Cursor pointer */
    display: block; /* Make the button a block to fill width if needed */
    width: 100%; /* Full width */
    margin-top: 10px; /* Space from the last input field */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .survey-container,
    .survey-container input[type="text"],
    .survey-container textarea {
        width: 95%; /* Make container and input fields slightly narrower on smaller screens */
    }
}

/* Add any additional styles for hover, focus, or active states as desired */
.survey-container button:hover {
    background-color: #26724d; /* Slightly darker green on hover */
}