/* SettingsView.css - Assuming you're adding these styles to a separate CSS file for your settings */

.settings-container {
    background-color: #d3d3d3; /* Medium grey background */
    color: #666; /* Dark grey text */
    width: 768px; /* Match the auth-container width */
    margin: 50px auto; /* Center the container */
    padding: 20px; /* Consistent padding */
    padding-bottom: 100px;
    box-sizing: border-box;
  }
  
  .settings-form {
    margin-bottom: 40px; /* Spacing between different forms */
  }
  
  .settings-form h2 {
    color: #30A875; /* Green color for sub-headings */
    margin-bottom: 20px; /* Spacing after headings */
  }
  
  .settings-form input[type="text"],
  .settings-form input[type="email"],
  .settings-form input[type="date"],
  .settings-form input[type="number"],
  .settings-form textarea {
    width: 97%; /* Make input take full width of form */
    padding: 10px;
    margin-bottom: 15px; /* Spacing between inputs */
    border: 1px solid #ccc;
  }
  
  .settings-form label {
    display: block; /* Ensure the label goes on a new line */
    margin-bottom: 5px; /* Small space between label and input */
  }
  
  .settings-form textarea {
    height: auto; /* Override default height */
    resize: vertical; /* Allow only vertical resizing */
  }
  
  .auth-login-button {
    background-color: #30A875; /* Consistent button color with auth view */
    color: white;
    padding: 10px 20px; /* Slightly smaller buttons */
    border: none;
    cursor: pointer;
    display: block; /* Make the button a block to fill width */
    width: 100%;
    margin-top: 20px; /* Space before the button */
  }
  
  .status-message {
    color: red; /* Consistent color for messages */
    font-weight: bold;
    font-size: larger;
    margin-top: 50px; /* Space after button or last input */
    margin-bottom: -90px;
  }
  