/* Layout.css */
.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background: #d3d3d3; /* Medium grey background */
    color: #333; /* Dark grey text */
    padding: 5px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between logo and navigation */
    border-bottom: 8px solid #30A875; /* Thick green line at the bottom */
    
}

.header-content {
    max-width: 1600px; /* Maximum width for the header contents */
    width: 100%; /* Ensure it takes up available space up to the max-width */
    margin: auto; /* Center the wrapper within the header */
    display: flex; /* Maintain the flex layout of the header contents */
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Maintain spacing between items */
    max-height: 60px; /* Set the height of the header */
}


.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 200px; /* Adjust size accordingly */
    margin-right: -175px;
}

.main-nav a {
    text-decoration: none; /* Remove link underlines */
    color: #666; /* Initial color for links */
    margin: 0 20px; /* Spacing between links */
    padding: 5px 10px; /* Padding for clickable area */
    font-size: 225%;
    font-weight: bolder;
}

.main-nav a:hover {
    color: white; /* White text on hover */
    background-color: #666; /* Dark grey background on hover */
}

.main-nav .active {
    background-color: #30A875; /* Active link background color */
    color: white; /* Active link text color */
}

.user-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 115%;
}

.user-actions a,
.user-actions button {
    text-decoration: none;
    background: none;
    border: none;
    color: #666;
    cursor: pointer;
    margin: 1px 0;
}

.user-actions button {
    padding: 3px 15px;
    align-self: center;
}

.user-actions a:hover {
    color: white;
    background-color: #666;
}
.user-actions button:hover {
    color: white;
    background-color: red;
}

.footer {
    background: #d3d3d3; /* Medium grey background */
    color: #666; /* Dark grey text */
    font-weight: bold;
    padding: 20px 10px;
    margin-top: auto; /* Pushes footer to bottom */
    display: flex; /* Use flexbox to layout children horizontally */
    justify-content: space-around; /* Distribute space around items */
    align-items: flex-start; /* Align items vertically */
    border-top: 5px solid #30A875; /* Thin green line at the top */
}

.footer-section {
    flex: 1; /* Each section takes equal width */
    padding: 0 10px; /* Add some padding around sections */
    text-align: center; /* Center text for each section */
}

.footer h4 {
    text-transform: uppercase; /* Make all text in h4 uppercase */
    color: #30A875; /* Green text color */
    font-size: 150%;
    margin-top: 1px;
    margin-bottom: 5px;
}

/* Additional vertical line style for the logo */
.logo-divider {
    height: 75%; /* 75% of the parent's height */
    width: 2px; /* Thin line width */
    background-color: #30A875; /* Black color */
    margin-left: 20px; /* Spacing from the logo */
}
